.subheader {
	margin: 0;
  padding: 0;
  font-size: 11px;
  font-weight: 400;
	display: none;
	position: relative;
	z-index: 41;
	@include min-break( $break-medium ) {
		display: block;
	}
  &.light {
    border-bottom: 1px solid $border;
  }
	&.dark {
		border-bottom: 1px solid rgba(#fff,0.15);
	}
	&.subheader-mobile-on {
		display: block;
	}
	.subheader-leftside {
    @include min-break($break-small) {
      text-align: left;
    }
  }
  .subheader-rightside {
    @include min-break($break-small) {
      text-align: right;
    }
  }
	&.subheader-full-width-on {
		.row.subheader-row {
			max-width: none;
		}
	}
	.subheader-text {
		display: inline-flex;
		height: 100%;
		align-items: center;
		> * {
			margin-bottom: 0;
		}
	}
	.thb-social-links-container {
		display: inline-flex;
		height: 100%;
		.thb-social-link .thb-social-icon-container {
			font-size: 14px;
		}
	}
	.thb-language-switcher-flags {
		display: inline-flex;
		height: 100%;
		align-items: center;
		a {
			line-height: 0;
			+ a {
				margin-left: 10px;
			}
		}
	}
	.columns {
		>*  {
			vertical-align: middle;
			& + ul,
			& + div {
				margin-left: 18px;
			}
		}
	}

	.thb-full-menu {
		margin-left: 0;
		display: inline-flex;

		>li>a:not(.logolink) {
			min-height: 38px;
			font-size: 11px;
			font-weight: 400;
		}
		>li+li {
			margin-left: 20px;
		}
	}
	&.dark {
    background: $black;
    .thb-full-menu {
      >.menu-item {
        >a {
          color: #fff;
        }
      }
  	}
		.thb-social-links-container .thb-social-link {
			color: #fff;
		}
	}
}